.slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.previous, .leave, .next {
  visibility: hidden;
}

.previous {
/*  height: auto;*/
}

.slide-title.previous, .slide-4.previous {
/*  height: 100%;*/
}
